.container {
  background: #E2E1DE;
  color: #212123;
}

header nav {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  background: #212123;
}

.home {
  padding: 32px;
  background-color: #212123;
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.code {
  padding: 64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid #6767c2;
  border-radius: 20px;
}

.mouseDot {
  margin: 6px auto;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background: #6767c2;
  opacity: 1;
  animation: mouseDot 2s infinite;
}

@keyframes mouseDot {
  from {
    opacity: 1;
    margin: 6px auto;
  }
  to {
    opacity: 0;
    margin: 33px auto;
  }
}

.swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe p {
  margin-top: 16px;
  color: #6767C2;
  font-size: 20;
  font-weight: 500;
}

.about {
  padding: 64px;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.info h2 {
  font-size: 64px;
}

.info h3 {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 500;
}

.info p {
  margin-top: 16px;
  font-size: 32px;
}

.info p span {
  font-size: 24px;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media p {
  font-weight: 500;
  text-align: center;
}

.media a {
  margin-top: 16px;
}

.serviceBackground {
  background-color: #212123;
} 

.services {
  padding: 64px;
  max-width: 1080px;
  margin: auto;
}

.services h2 {
  font-size: 64px;
  color: #FFF;
}

.servicesContent {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;
  padding: 24px;
  color: #FFF;
}

.service div {
  height: 55px;
}

.serviceTitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.serviceDescription {
  margin-top: 16px;
  align-self: baseline;
}

.contactForm {
  padding: 64px;
  max-width: 1080px;
  margin: auto;
}

.contactForm h2 {
  font-size: 64px;
}

.contactForm form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.contactForm .userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

input {
  padding: 16px; 
  width: 100%;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
}

::placeholder {
  color: #A4A3Cf;
}

#name {
  max-width: 320px;
}

#email {
  margin-left: 32px;
}

#message {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  font-family: 'Barlow';
  resize: none;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
}

.contactForm form button{
  margin: 32px auto 0 auto;
  border: none;
  border-radius: 3px;
  padding: 16px;
  background: #4646A9;
  color: #FFF;
  font-weight: 700;
}

@media only screen and (max-device-width: 750px) {
  .container {
    display: none;
  }
}