.container {
  background: #E2E1DE;
  color: #212123;
}

.web header {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  background: #212123;
}

.web .home {
  padding: 32px;
  background-color: #212123;
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.web .code {
  padding: 64px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.web .mouse {
  width: 30px;
  height: 50px;
  border: 2px solid #6767c2;
  border-radius: 20px;
}

.web .mouseDot {
  margin: 6px auto;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 3px;
  background: #6767c2;
  opacity: 1;
  animation: mouseDot 2s infinite;
}

@keyframes mouseDot {
  from {
    opacity: 1;
    margin: 6px auto;
  }
  to {
    opacity: 0;
    margin: 33px auto;
  }
}

.web .swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.web .swipe p {
  margin-top: 16px;
  color: #6767C2;
  font-size: 20;
  font-weight: 500;
}

.web .about {
  padding: 64px;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.web .info h2 {
  font-size: 64px;
}

.web .info h3 {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 500;
}

.web .info p {
  margin-top: 16px;
  font-size: 32px;
}

.web .info p span {
  font-size: 24px;
}

.web .media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.web .media p {
  font-weight: 500;
  text-align: center;
}

.web .media a {
  margin-top: 16px;
}

.web .serviceBackground {
  background-color: #212123;
} 

.web .services {
  padding: 64px;
  max-width: 1080px;
  margin: auto;
}

.web .services h2 {
  font-size: 64px;
  color: #FFF;
}

.web .servicesContent {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.web .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;
  padding: 24px;
  color: #FFF;
}

.web .service div {
  height: 55px;
}

.web .serviceTitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.web .serviceDescription {
  margin-top: 16px;
  align-self: baseline;
}

.web .contactForm {
  padding: 64px;
  max-width: 1080px;
  margin: auto;
}

.web .contactForm h2 {
  font-size: 64px;
}

.web .contactForm form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.web .contactForm .userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.web input {
  padding: 16px; 
  width: 100%;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
}

::placeholder {
  color: #A4A3Cf;
}

.web #name {
  max-width: 320px;
}

.web #email {
  margin-left: 32px;
}

.web #message {
  width: 100%;
  padding: 16px;
  font-size: 24px;
  font-family: 'Barlow';
  resize: none;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
}

.web .contactForm form button{
  margin: 32px auto 0 auto;
  border: none;
  border-radius: 3px;
  padding: 16px;
  background: #4646A9;
  color: #FFF;
  font-weight: 700;
}

@media only screen and (max-device-width: 750px) {
  .web {
    display: none;
  }
  .mobile {
    display: inherit;
  }
}

.mobile header {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  background: #212123;
}

.mobile header img {
  max-width: 160px;
}

.mobile .home {
  padding: 32px;
  background-color: #212123;
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mobile .home img {
  max-width: 250px;
}

.mobile .code {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile .mouse {
  width: 25px;
  height: 45px;
  border: 2px solid #6767c2;
  border-radius: 20px;
}

.mobile .mouseDot {
  margin: 6px auto;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 3px;
  background: #6767c2;
  opacity: 1;
  animation: mouseDot 2s infinite;
}

.mobile .swipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile .swipe p {
  margin-top: 16px;
  color: #6767C2;
  font-size: 16px;
  font-weight: 500;
}

.mobile .about {
  padding: 32px;
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.mobile .info h2 {
  font-size: 64px;
}

.mobile .info h3 {
  margin-top: 16px;
  font-size: 48px;
  font-weight: 500;
}

.mobile .info p {
  margin-top: 16px;
  font-size: 28px;
}

.mobile .info p span {
  font-size: 22px;
}

.mobile .media {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile .mediaImgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mobile .media p {
  font-weight: 500;
  text-align: center;
}

.mobile .media a {
  margin: 16px 16px 0 16px;
}

.mobile .serviceBackground {
  background-color: #212123;
} 

.mobile .services {
  padding: 32px;
  max-width: 1080px;
  margin: auto;
}

.mobile .services h2 {
  font-size: 64px;
  color: #FFF;
}

.mobile .servicesContent {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 320px;
  padding: 24px;
  color: #FFF;
}

.mobile .service div {
  height: 55px;
}

.mobile .serviceTitle {
  font-size: 32px;
  margin-bottom: 16px;
}

.mobile .serviceDescription {
  margin-top: 16px;
  align-self: baseline;
}

.mobile .contactForm {
  padding: 32px;
  max-width: 1080px;
  margin: auto;
}

.mobile .contactForm h2 {
  font-size: 64px;
}

.mobile .contactForm form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.mobile input {
  padding: 16px; 
  font-size: 20px;
  width: 100%;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
  margin-top: 16px;
}

::placeholder {
  color: #A4A3Cf;
}

.mobile #message {
  margin-top: 16px;
  width: 100%;
  padding: 16px;
  font-size: 20px;
  font-family: 'Barlow';
  resize: none;
  background: #E2E1DE;
  border: 2px solid #6767C2;
  border-radius: 3px;
  color: #6767C2;
}

.mobile .contactForm form button{
  margin: 32px auto 0 auto;
  border: none;
  border-radius: 3px;
  padding: 16px;
  background: #4646A9;
  color: #FFF;
  font-weight: 700;
}
